nav {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.carousel {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.circle img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

footer {
    padding: 50px;
}